{%- comment -%}
    J-Card template controls

    Requires:
        include: modules/field.html
{%- endcomment -%}


<form id="controls" class="controls">
    <fieldset>
        <legend>Options</legend>
        <div class="columns">
            <div class="columns-column-2">
                <div class="columns">
                    <div class="columns-column">
                        {% include modules/field.html id="controls-short-back" type="checkbox" label="Short Back" %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-force-caps" type="checkbox" label="Force CAPS" attrs='checked' %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-print-2" type="checkbox" label="Print 2" %}
                    </div>
                </div>
                <div class="columns">
                  <div class="columns-column">
                    {% include modules/field.html id="controls-card-color" type="color" label="Card Color" %}
                  </div>
                  <div class="columns-column">
                    {% include modules/field.html id="controls-text-color" type="color" label="Text Color" %}
                  </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Cover</legend>
        <div class="columns">
            <div class="columns-column-2">
                <div class="columns">
                    <div class="columns-column">
                        {% include modules/field.html id="controls-crop-cover-x" type="number" attrs='step="1"' label="Crop X" %}
                        {% include modules/field.html id="controls-crop-cover-y" type="number" attrs='step="1"' label="Crop Y" %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-full-bleed-cover" type="checkbox" label="Full-bleed Cover" %}
                    </div>
                </div>
                {% include modules/field.html id="controls-cover" type="file" attrs='accept="image/*"' label="Cover" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-title" type="text" label="Title" %}
                {% include modules/field.html id="controls-subtitle" type="text" label="Subtitle" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-title-size" type="number" attrs='min="0" step="0.1"' label="Title Size" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-type" type="text" label="Type" %}
                {% include modules/field.html id="controls-hide-text-cover" type="checkbox" label="Hide Cover Text" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-type-size" type="number" attrs='min="0" step="0.1"' label="Type Size" %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Spine</legend>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-note-upper" type="text" label="Note Upper" %}
                {% include modules/field.html id="controls-note-lower" type="text" label="Note Lower" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-note-size" type="number" attrs='min="0" step="0.1"' label="Note Size" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-use-logo" type="checkbox" label="Include Logo" %}
                {% include modules/field.html id="controls-logo" type="file" attrs='accept="image/*"' label="Logo" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-rotate-logo" type="number" attrs='min="0" max="360" step="10"' label="Rotate" %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Fold</legend>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-side-a" type="textarea" attrs='rows="5"' label="Side A" %}
                {% include modules/field.html id="controls-side-b" type="textarea" attrs='rows="5"' label="Side B" %} 
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-track-size" type="number" attrs='min="0" step="0.1"' label="Track Size" %}
                {% include modules/field.html id="controls-back-size" type="number" attrs='min="0" step="0.1"' label="Back Size" %}
            </div>
        </div>
    </fieldset>
</form>
