{%- comment -%}
    J-Card template controls

    Requires:
        include: modules/field.html
{%- endcomment -%}


<form id="controls" class="controls">
    <fieldset>
        <legend>Options</legend>
        <div class="columns">
            <div class="columns-column-2">
                <div class="columns">
                    <div class="columns-column">
                        {% include modules/field.html id="controls-print-2" type="checkbox" label="Print Duplicate" %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-flip" type="checkbox" label="Flip Card" %}
                    </div>
                </div>
                <hr/>
                <div class="columns">
                  <div class="columns-column">
                    {% include modules/field.html id="controls-font" type="select" label="Font" options="Back Issues, Alte Haas Grotesk" %}
                  </div>
                  <div class="columns-column">
                    {% include modules/field.html id="controls-force-caps" type="checkbox" label="Force CAPS" attrs='checked' %}
                  </div>
                </div>
                <div class="columns">
                  <div class="columns-column">
                    {% include modules/field.html id="controls-card-color" type="color" label="Card Color" %}
                  </div>
                  <div class="columns-column">
                    {% include modules/field.html id="controls-text-color" type="color" label="Text Color" %}
                  </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Front</legend>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-cover" type="file" attrs='accept="image/*"' label="Cover" %}
                <div class="columns">
                    <div class="columns-column">
                        {% include modules/field.html id="controls-crop-cover-x" type="number" attrs='step="1"' label="Crop X" %}
                        {% include modules/field.html id="controls-crop-cover-y" type="number" attrs='step="1"' label="Crop Y" %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-full-bleed-cover" type="checkbox" label="Full-bleed" %}
                    </div>
                    <div class="columns-column">
                        {% include modules/field.html id="controls-fixed-height-cover" type="checkbox" label="Fixed Height" %}
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-show-front-text" type="checkbox" label="Show Text" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-title" type="text" label="Title" %}
                {% include modules/field.html id="controls-subtitle" type="text" label="Subtitle" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-title-spacing" type="number" attrs='value="0" min="0" step="0.005"' label="Title Spacing" %}
                {% include modules/field.html id="controls-title-size" type="number" attrs='min="0" step="0.1"' label="Title Size" %}
                {% include modules/field.html id="controls-front-text-size" type="number" attrs='min="0" step="0.1"' label="Text Size" %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Spine</legend>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-upper-spine" type="file" attrs='accept="image/*"' label="Upper Spine" %}
                {% include modules/field.html id="controls-spine-title" type="text" label="Title" %}
                {% include modules/field.html id="controls-spine-subtitle" type="text" label="Subtitle" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-show-upper-spine" type="checkbox" label="Show Image" %}
                {% include modules/field.html id="controls-spine-title-spacing" type="number" attrs='value="0" min="0" step="0.005"' label="Title Spacing" %}
                {% include modules/field.html id="controls-spine-title-size" type="number" attrs='min="0" step="0.1"' label="Title Size" %}
            </div>
        </div>
        <hr/>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-note-upper" type="text" label="Note Upper" %}
                {% include modules/field.html id="controls-note-lower" type="text" label="Note Lower" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-note-size" type="number" attrs='min="0" step="0.1"' label="Note Size" %}
            </div>
        </div>
        <hr/>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-lower-spine" type="file" attrs='accept="image/*"' label="Lower Spine" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-show-lower-spine" type="checkbox" label="Show Image" %}
            </div>
        </div>
        <div class="columns">
          <div class="columns-column">
                {% include modules/field.html id="controls-rotate-lower-spine" type="number" attrs='value="270" min="0" max="360" step="10"' label="Rotate" %}
          </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Back</legend>
        <div class="columns">
            <div class="columns-column">
                {% include modules/field.html id="controls-back-portrait" type="radio" attrs='name="back-orientation" value="portrait"' label="Portrait" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-back-landscape" type="radio" attrs='name="back-orientation" value="landscape"' label="Landscape" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-side-a" type="textarea" attrs='rows="5"' label="Side A" %}
                {% include modules/field.html id="controls-side-b" type="textarea" attrs='rows="5"' label="Side B" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-short-back" type="checkbox" label="Shorten" %}
                {% include modules/field.html id="controls-hide-headings" type="checkbox" label="Hide Headings" %}
                {% include modules/field.html id="controls-back-size" type="number" attrs='min="0" step="0.1"' label="Back Size" %}
            </div>
        </div>
        <hr/>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-back-image" type="file" attrs='accept="image/*"' label="Image" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-show-back-image" type="checkbox" label="Show Image (portrait only)" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column-2">
                {% include modules/field.html id="controls-rotate-back-image" type="number" attrs='min="0" max="360" step="10"' label="Rotate" %}
            </div>
        </div>
    </fieldset>
</form>
