{%- comment -%}
    Site header

    Requires:
        data: site.data.site.title  # site title
{%- endcomment -%}


<div class="header">
    <h1>
      <a href="{{ site.baseurl | default: '/' }}">
        {{ site.data.site.title }}
      </a>
    </h1>
    <div class="columns">
      <div class="columns-column">
        <a href="{% link editors/jcard.md %}">
          J-Card Cassette Case Editor
        </a>
      </div>
      <div class="columns-column">
        <a href="{% link editors/extra_gum.md %}">
          Extra Gum Case Editor
        </a>
      </div>
    </div>
</div>
